:root{
    /* Colores */
    --blue: #0095f6;
    --dark-blue: #385185;
    --dark-blue-password: #00376b;
    --blue-Sign-up: #2795f6;
    --text: #262626;
    --grey: #8e8e8e;
    --main-text: #fafafa;
    --border: #dbdbdb
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--main-text);
    margin: 0 auto;
}

.main .container-img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    height: 150px;
}

.container-img-logo .img-logo {
    width: 185px;
    height: 70px;  
}

.main .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 375px;   
}

.form-container .form--input {
    width: 75%;
    height: 40px;
    font-size: 1rem;
    margin: 3px auto;
    border: 1px solid var(--border);
    border-radius: 2px;
    background-color: var(--main-text);
}

.form-container .form--button {
    width: 75%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    color: var(--main-text);
    background-color: var(--blue);
}

.container--divisor {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--divisor div {
    width: 29%;
    height: 1px;
    background-color: var(--border);
    margin: 0 15px;
}

.container--divisor .divisor {
    color: var(--grey);
    font-weight: 200;
    font-size: 1.7rem;
}

.login--alternative--container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
}

.login--alternative--container .login--alternative {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.login--alternative .alternative--link {
    color: var(--dark-blue-password);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px 0;
}

.alternative--link .fa-brands {
    font-size: 2rem;
    margin-right: 8px;
}

.login--alternative .alternative--link__small{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 12px;
    color: var(--dark-blue-password);
}

.login--alternative .login--alternative--Registration {
    margin-top: 45px;
    font-weight: 400;
    font-size: 1.4rem;
}

.login--alternative--Registration a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--blue-Sign-up);
}

.section--downloads {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    margin-bottom: 50px;
}

.section--dowloads--title h3 {
    font-size: 1.4rem;
    font-weight: 200;
    margin: 25px 20px 20px 20px;
}

.section--dowloads--container img {
    width: 40%;
    margin-right: 4px;
}

.section--dowloads--container2 img {
    width: 40%;
    margin-left: 4px;
}

.footer {
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: var(--main-text);
    padding: 15px;
}

.footer .footer--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.footer--list .footer--list--container {
    margin: 5px 8px 5px 8px;
}

.footer--list--container a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey);
}

.footer .footer--list2 {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
    list-style: none;
}

.footer--list2 a {
    font-size: 1.2rem;
    color: var(--grey);
    text-decoration: none;
}

.footer--list2 .fa-solid {
    margin: 0 7px 0 4px;
}

.footer--list2 .fa-regular {
    align-items: center;
    font-size: 0.9rem;
    margin: 0 5px 0 7px;
}