:root{
    /* Colores */
    --blue: #0095f6;
    --dark-blue: #385185;
    --dark-blue-password: #00376b;
    --blue-Sign-up: #2795f6;
    --text: #262626;
    --grey: #8e8e8e;
    --main-text: #fafafa;
    --fondo:  
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.main .container-img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 320px;
    height: 150px;
}

.container-img-logo .img-logo {
    width: 17rem;
    height: 7rem;  
}

.form .form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 320px;   
}

.form-container .form--input {
    width: 70%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--main-text);
}

.form-container .form--button {
    width: 70%;
    height: 25px;
    margin: 5px auto;
    border: none;
    border-radius: 5px;
    color: var(--main-text);
    background-color: var(--blue);
}

.container--divisor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--divisor div {
    width: 50%;
    height: 1px;
    background-color: var(--grey);
    
}

.container--divisor .divisor {
    color: var(--grey);
}

.login--alternative--container {
    width: 90%;
}